.message
  .upper-info
    .upper-info__user
      = message.user.name
    .upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .meesage__text
    - if message.content.present?
      %p.meesage__text
        = message.content
    = image_tag message.image, class: 'lower-message__image' if message.image.present?

