$base-color: white;

.chat-side{
  width: 300px;
  color: $base-color;
  float: left;

  .side-header{
    background-color:  #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    &__user-name{
      color: #ffffff;
    }
    .user-menu{
      display: flex;
      &__edit-user{
        margin-left: 0.3rem;
        a{
          color: $base-color;
          .fa{
            font: 14px/1;
          }
        }
      }
      &__new-group{
        margin-left: 0.3rem;
        a{
          color: $base-color;
        }
      }
    }
  }

  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    .group{
      color: $base-color;
      padding-bottom: 40px;
      &__group-name{
        font-size: 15px;
        margin-bottom: 5px;
        color: $base-color;
      }
      &__latest-message{
        font-size: 11px;
        color: $base-color;
      }
    }
  }
}
