.chat-side{
  width: 300px;
  color: white;
  float: left;

  .side-header{
    background-color:  #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    p{
      font-size:  16px;
      color: #ffffff;
    }
  }

  .groups{
    background-color: #2f3e51;
    height:  calc(100vh - 100px);
    overflow:  scroll;
    padding-right: 20px 20px 0;
    p{
      padding:  20px;
      span{
        font-size:  2em;
      }
    }
  }
}
